<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Welcome to our platform</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        </div>
  <%if params[:instructor].present? %>
        <div class="form-inputs">
          <%= f.input :name, label: "Full Name", required: true, autofocus: true %>
          <%= f.input :description, as: "text", label: "Please say a few words about your experience as instructor", :input_html => {:style => 'height: 300px', id: "Test"}, required: true, autofocus: true %>
          <%= f.input :avatar, label: "Show your face to potential pupils" %>
          <%= f.input :avatar_cache, as: :hidden %>
        </div>
  <% end %>
        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
