<h1 class="text-center">Our Instructors</h1>
<ul>
  <% @users.each do |user| %>
  <div class="user-card">
    <li><h3><%= user.name %></h3></li>
    <div class="main-img">
    <img class="avatar-main" src="<%= image_path("#{user.avatar}") %>">
    </div>
    <li><p class="text-justify"><%= user.description %></p></li>
    <li><strong>Average Rating:</strong> &nbsp;
    <% user.average_rating.to_i.times do |i| %> <i class="fa fa-star" aria-hidden="true"></i><% end %>

    </li>
    <li class="text-center last-link"><%= link_to "Show Reviews", user_reviews_path(user) %></li>
    <li class="text-center last-link"><%= link_to "Add New", new_user_review_path(user) %></li>
  </div>
  <% end %>
</ul>

<!-- ("/instructors/#{user.avatar}") -->
