

<div class="banner">
  <div class="banner-content">

   <h1>Book your skiing lesson online</h1>
   <div class="container" >
    <div class="row ">
      <%= form_tag({:controller => "lessons", :action => "index"}, {:method => 'get'}) do %>

      <div class="search-form">

        <div class="col-sm-5">
        <%=select_tag(:destination, options_for_select(@destinations)) %>
         <div class="text-left">
           <p>Where?</p>
         </div>
       </div>

       <div class="col-sm-5">

        <%= search_field_tag :date %>

        <div class="text-left">
         <p>When?</p>
       </div>
     </div>

     <div class="col-sm-2 ">
      <%= submit_tag("Search", :class => "btn-banner") %>

    </div>

  </div>
  <% end %>

</div>
</div>
</div>
</div>



<%= content_for(:js_head) do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<% end %>


<!-- placeholder: "when?", -->
