<div class="banner">
  <div class="banner-content">

  <h1>Book your skiing lesson online</h1>

 <div class="search-form">
  <%= form_tag({:controller => "lessons", :action => "index"}, {:method => 'get', class: "form-inline"}) do %>

    <%= select_tag :destination, options_for_select(@destinations), class: "form-control destination" %>
    <%= text_field_tag :date, nil, class: "datepicker date_picker" %>
    <%= submit_tag("Search", :class => "btn btn-primary") %>

  <% end %>
 </div>

  </div>
</div>


<%= content_for(:js_head) do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<% end %>


<!-- placeholder: "when?", -->
<h1 class="lower-h1">Some of Our Happy Customers...</h1>
<%= render 'customer_opinion' %>
