<div class="banner">

  <div class="banner-content">

    <h1>Book your skiing lesson online</h1>
    <div class="container" >
      <div class="row ">

          <%= simple_form_for @lesson, method: :post do |f| %>
          <div class="search-form">

            <div class="col-sm-5">
              <%= f.input :destination, label: false, include_blank: false, collection: @destinations, wrapper_html: {class: "field-input" } %>
            <div class="text-left"><p>Where?</p></div>
            </div>

            <div class="col-sm-5">
              <%= f.input :destination, label: false,  wrapper_html: {class: "field-input" }, input_html: {class: "datepicker"} %>
              <div class="text-left"><p>When?</p></div>
            </div>

            <div class="col-sm-2 "> <!-- Button -->
              <%= f.submit :search, :class=>"btn-banner" , label: false %>
            </div>

          </div>
          <%end%>

        </div>
      </div>

    </div>

  </div>
</div>

<%= content_for(:js_head) do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<% end %>


<!-- placeholder: "when?", -->
