<div class="wrapper-grey padded">
<h1 class="text-center">Here are our top offers</h1>
<div class="container">

  <div class="row">
    <div class="col-sm-2 col-md-2">
      <div class="search_filters_container full-width">
        Here your selection
        <li>Date</li>
        <li>Location</li>
      </div>
    </div>

  <% @lessons.each do |lesson| %>
    <div class="col-sm-10 col-md-5">
      <div class="lessons-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path('lindsey-vonn.jpg') %>')">
        <div class="card-title"><%= lesson.destination %></div>
        <div class="card-description">
          <h2><%= lesson.experience_level %></h2>
          <p>$ 100</p>
        </div>
        <img class="card-user avatar" src="http://placehold.it/30x30">
        <a href="" class="card-link"></a>
      </div>
    </div>
  <% end %>
  </div>

  <div class="row">
    <div class="col-sm-2 col-md-2">
    </div>
    <% @lessons.each do |lesson| %>
      <div class="col-sm-10 col-md-5">
      <div class="lessons-card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('app/impages/lindsey-vonn.jpg');">
        <div class="card-title"><%= lesson.destination %></div>
          <div class="card-description">
            <h2><%= lesson.experience_level %></h2>
            <p>$ 100</p>
          </div>
          <img class="card-user avatar" src="http://placehold.it/30x30">
          <a href="" class="card-link"></a>
      </div>
      </div>
    <% end %>
  </div>

  </div>
</div>
