<%= content_for :title, @lesson.destination %>

<div class="show-full">
  <div class="banner-image">
   <%= image_tag("card-background/#{@lesson.picture}") %>
 </div>
 <div class="title-instructor">
  <%= @lesson.destination %>
</div>
 <div class="instructor-image">
  <%= image_tag("instructors/#{@lesson.user.avatar}", class: "avatar-instructor")%>
</div>

<div class="instructor-content">
  <h3>Your instructor <%= @lesson.user.name %> is looking forward to a day of skiing with you</h3>
  <p > <%= @lesson.user.description %></p>
    <%= link_to "Book",  new_user_registration_path, class: "btn-medium" %>

</div>
</div>
