<%= content_for :title, @lesson.destination %>

<div class="show-full">
  <div class="banner-image">
   <%= image_tag("card-background/#{@lesson.picture}") %>
 </div>

 <div class="container">
   <div class="container-top">
     <div class="row">
      <div class="row-top">
       <div class="col-xs-8">
         <div class="title-instructor">
          <%= @lesson.experience_level %> lesson at <%= @lesson.destination %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="instructor-image">
          <!-- <%= image_tag("instructors/#{@lesson.user.avatar}", class: "avatar-instructor")%> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="description">
        <div class="instructor-content">
          <h3>Your instructor <%= @lesson.user.name %> is looking forward to a day of skiing with you</h3>
          <p > <%= @lesson.user.description %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="booking_form">
          <form id="contact" action="<%=@lesson.id%>/create" method="post">
            <h3>Your selected skiing class</h3>

            <% if session[:destination].present? %>

            <h6>Destination</h6>
            <fieldset>
              <input type="text" tabindex="1" required autofocus value="<%=session[:destination]  %>">
            </fieldset>
              <% else %>
            <h6>Destination</h6>
            <fieldset>
             <input placeholder="Where?" type="text" tabindex="1" required autofocus >
              <% end %>
            </fieldset>

            <h6>Date</h6>
            <fieldset>
              <%= text_field_tag :date, nil, class: "datepicker",  value: @date_calender %>

            </fieldset>

            <h6>Instructor</h6>
            <fieldset>
              <input value="<%= @lesson.user.name %>" type="text" tabindex="3" required>
            </fieldset>

            <h6>Price</h6>
            <fieldset>
              <input value="<%= @lesson.price %>" placeholder="Price" type="price" tabindex="4" required>
            </fieldset>

            <fieldset>
            <input class="sky-blue" type="submit" value="submit">
            </fieldset>
<%#= link_to "Book Class!",  booking_path %>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_for(:js_head) do %>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>
<% end %>
