
<%= content_for :title, @lesson.destination %>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @lesson.experience_level %> lesson at <%= @lesson.destination %></h1>

        <%= image_tag "card-background/#{@lesson.picture}"
          %>
          <h1><%= @lesson.experience_level %> lesson at <%= @lesson.destination %></h1>
    </div>
  </div>
</div>
