<%= content_for :title, @lesson.destination %>

<div class="show-full">
  <div class="banner-image">
   <%= image_tag("card-background/#{@lesson.picture}") %>
 </div>
 <div class="title-instructor">
  <%= @lesson.experience_level %> lesson at <%= @lesson.destination %>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <div class="description">

        <div class="instructor-image">
          <%= image_tag("instructors/#{@lesson.user.avatar}", class: "avatar-instructor")%>
        </div>
        <div class="instructor-content">
          <h3>Your instructor <%= @lesson.user.name %> is looking forward to a day of skiing with you</h3>
          <p > <%= @lesson.user.description %></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="booking_form">
          <form id="contact" action="/bookings" method="post">
            <h3>Your selected skiing class</h3>
            <% if session[:destination].present? %>
            <fieldset>
              <input type="text" tabindex="1" required autofocus value="<%=session[:destination]  %>">
            </fieldset>
            <% else %>
             <fieldset>
              <input placeholder="Where?" type="text" tabindex="1" required autofocus >
              <% end %>
            <fieldset>
              <input placeholder="<%=session[:date]  %>" type="date" tabindex="2" required>
              <p>Your suggested date was <%= session[:date] %></p>
            </fieldset>
            <fieldset>

              <input value="<%= @lesson.user.name %>" type="text" tabindex="3" required>
            </fieldset>
            <fieldset>
              <input value="<%= @lesson.price %>"placeholder="Price" type="price" tabindex="4" required>
            </fieldset>

            <fieldset>
              <button name="submit" type="submit" id="booking-submit" data-submit="...Sending"><%= link_to "Book Class!",  booking_path(@booking) %></button>
            </fieldset>
          </form>
          <%#= raise %>
        </div>
      </div>
    </div>
  </div>

