<div class="link">
<%=  link_to 'back', users_path %>
</div>
<h1 class="text-center">Review page for <%= @user.name %> </h1>

<ul>

  <% @reviews.each do |review| %>
  <div class="user-card">
    <li><%= review.content %></li>
    <li><strong>Rating: </strong> &nbsp;
      <%= review.rating.to_i %>
    </li>
  </div>
  <% end %>

</ul>

<%= render 'reviews/new' %>



<!-- "@user.average_rating" to calculate the average -->


