<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Book a Ski Lesson Online</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'shared/modal_instructor' %>
    <%= render 'shared/modal_regular' %>
    <%= yield %>

  <div class="footer">

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="footer-left">
          <p>Book Your Skiing Lesson Online &copy; &nbsp; 2016</p>
          </div>
        </div>

        <div class="col-xs-6">

            <div class="footer-right">
            <a href='#'><i class="fa fa-facebook fa-2x fa-fw"></i></a>
            <a href='#'><i class="fa fa-twitter fa-2x fa-fw"></i></a>
            <a href='#'><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
            <a href='#'><i class="fa fa-rss fa-2x fa-fw"></i></a>
            <a href='#'><i class="fa fa-flickr fa-2x fa-fw"></i></a>
            </div>

        </div>
      </div>
    </div>
  </div>

    <%= javascript_include_tag 'application' %>
    <%= yield(:js_head) %>
  </body>
</html>
